doctype html
html(lang='en')

    head

        include scripts.js
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description' content='')
        meta(name='author' content='')

        title Michael Posso | Web Developer | Technology Educator

        link(rel='icon' type='image/x-icon' href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.3/js/all.js' crossorigin='anonymous')

        // Google fonts
        link(href="https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Lato:wght@300&family=Yeseva+One&display=swap" rel="stylesheet")

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css' rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Michael Posso
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg' alt='...')
            button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav#navigation
                    li.nav-item
                        a.nav-link.js-scroll-trigger.active(href='#about' data-menuanchor="about") About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#web' data-menuanchor="web") Web Development
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#teaching' data-menuanchor="teaching") Instructional Design
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#marketing' data-menuanchor="marketing") Digital Marketing
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#ux' data-menuanchor="ux") User Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#immersive' data-menuanchor="immersive") Immersive Design
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education' data-menuanchor="education") Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#speaking' data-menuanchor="speaking") Speaking

        // Page Content
        .container-fluid.p-0

            #fullpage
                // About
                section.resume-section.section
                    .resume-section-content
                        h1.mb-0
                            | Michael<br>Posso
                        p.subheadline.mb-5.mt-3
                            | CMS Developer | User Experience Engineer | Technology Educator
                        p.lead.mb-3.mt-3
                            | A JavaScript full-stack developer with over 10 years of expertise in creating enterprise on-line experiences. My methodology of development is based on writing maintainable code with a DevOps first mindset. My formal art & design training taught me to carefully consider my audience and create designs and applications that bring value to the user. In addition to web development, the advent of virtual reality has opened new frontiers in the areas of coding and user interfaces for immersive applications. Moreover, as an avid learner, I have taught workshops and courses in person and on-line at colleges and universities.
                        p.lead.mb-4.mt-1
                            | You can find more about me and my work below. 
                        .social-icons
                            a.social-icon(href='https://www.linkedin.com/in/michaelposso/')
                                i.fab.fa-linkedin-in
                            a.social-icon(href='https://github.com/micposso')
                                i.fab.fa-github
                            a.social-icon(href='https://twitter.com/micposso')
                                i.fab.fa-twitter
                    .arrow-navigation
                        include arrow.svg

                // Web Development
                section.resume-section.section
                    .resume-section-content
                        h2.mb-0 Web Development

                        p.lead.mb-5.mt-3
                            |  While my focus is mobile-first responsive fast websites with HTML5, modern JavaScript,  SASS, PHP, and MySQL and GraphQL. I also have experience in DevOps workflows and Cloud based applications. The past years, I have developed static API based websites with Gatsby and NextJS.
                        ul.list-inline.dev-icons
                            li.list-inline-item
                                i.fab.fa-wordpress
                            li.list-inline-item
                                i.fab.fa-php
                            li.list-inline-item
                                i.fab.fa-js-square
                            li.list-inline-item
                                i.fab.fa-react
                            li.list-inline-item
                                i.fab.fa-node-js
                            li.list-inline-item
                                i.fab.fa-sass
                            li.list-inline-item
                                i.fab.fa-html5
                            li.list-inline-item
                                i.fab.fa-css3-alt
                            li.list-inline-item
                                i.fab.fa-npm
                        .container-fluid.mt-5
                            .row.no-padding
                                .col-3
                                    .subheading.mb-3 Workflows
                                    ul.fa-ul.mb-0
                                        li
                                            span.fa-li
                                                i.fas.fa-check
                                            | DevOps
                                        li
                                            span.fa-li
                                                i.fas.fa-check
                                            | TypeScript
                                        li
                                            span.fa-li
                                                i.fas.fa-check
                                            | Testing Driven Development
                                        li
                                            span.fa-li
                                                i.fas.fa-check
                                            | Agile Development & Scrum
                                .col-3
                                    .subheading.mb-3 Databases
                                    ul.fa-ul.mb-0
                                        li
                                            span.fa-li
                                                i.fas.fa-check
                                            | MongoDB
                                        li
                                            span.fa-li
                                                i.fas.fa-check
                                            | MySQL
                                        li
                                            span.fa-li
                                                i.fas.fa-check
                                            | GraphQL
                                        li
                                            span.fa-li
                                                i.fas.fa-check
                                            | Firebase
                                .col-3
                                    .subheading.mb-3 Frameworks
                                    ul.fa-ul.mb-0
                                        li
                                            span.fa-li
                                                i.fas.fa-check
                                            | WordPress Blocks
                                        li
                                            span.fa-li
                                                i.fas.fa-check
                                            | ExpressJS
                                        li
                                            span.fa-li
                                                i.fas.fa-check
                                            | Gatsby
                                        li
                                            span.fa-li
                                                i.fas.fa-check
                                            | NextJS

                                .col-3
                                    .subheading.mb-3 APIs
                                    ul.fa-ul.mb-0
                                        li
                                            span.fa-li
                                                i.fas.fa-check
                                            | New York Times
                                        li
                                            span.fa-li
                                                i.fas.fa-check
                                            | Google Maps
                                        li
                                            span.fa-li
                                                i.fas.fa-check
                                            | Yahoo Finance
                                        li
                                            span.fa-li
                                                i.fas.fa-check
                                            | IBM Watson

                // Teaching & Instructional Design
                section.resume-section.section
                    .resume-section-content
                        h2.mb-5 Teaching & Instructional Design

                        .d-flex.flex-column.flex-md-row.justify-content-between.mb-3
                            .flex-grow-1
                                h3.mb-0 Fashion Institute of Technology
                                p.lead 
                                    b Adjunct Assistant Professor 
                                    | | Illustration and Interactive Media Department

                        .d-flex.flex-column.flex-md-row.justify-content-between.mb-3
                            .flex-grow-1
                                h3.mb-0 Fashion Institute of Technology
                                p.lead 
                                    b Continuing Education Instructor 
                                    | | Unity XR: AR, MR, VR Development Certificate Program

                        .d-flex.flex-column.flex-md-row.justify-content-between.mb-3
                            .flex-grow-1
                                h3.mb-0 University of Miami
                                p.lead 
                                    b WordPress Instructor and User Experience
                                    | | Digital Marketing Bootcamp

                        .d-flex.flex-column.flex-md-row.justify-content-between.mb-3
                            .flex-grow-1
                                h3.mb-0 City University of New York
                                p.lead 
                                    b HTML and JavaScript Instructor 
                                    | | Web Development Certificate

                        .d-flex.flex-column.flex-md-row.justify-content-between.mb-3
                            .flex-grow-1
                                h3.mb-0 TechRow
                                p.lead 
                                    b Instructional Designer and Industry Advisor
                                    | | Virtual Reality Makers High School Program

                        .d-flex.flex-column.flex-md-row.justify-content-between.mb-3
                            .flex-grow-1
                                h3.mb-0 CodeWiz
                                p.lead 
                                    b Instructional Designer
                                    | | Game Design with LEGO Microgame Summer Course                       



                // Digital Marketing
                section.resume-section.section
                    .resume-section-content
                        h2.mb-0 Digital Marketing

                        p.lead.mb-5.mt-3
                            |  While my focus is mobile-first responsive fast websites with HTML5, modern JavaScript,  SASS, PHP, and MySQL and GraphQL. I also have experience in DevOps workflows and Cloud based applications. The past years, I have developed static API based websites with Gatsby and NextJS.

                        .container-fluid.mt-5
                            .row.no-padding
                                .col-4
                                    .subheading.mb-3 CRM
                                    ul.fa-ul.mb-0
                                        li
                                            span.fa-li
                                                i.fas.fa-check
                                            | HubSpot CRM 
                                        li
                                            span.fa-li
                                                i.fas.fa-check
                                            | SalesForce
                                .col-4
                                    .subheading.mb-3 Email Marketing
                                    ul.fa-ul.mb-0
                                        li
                                            span.fa-li
                                                i.fas.fa-check
                                            | Oracle Responsys
                                        li
                                            span.fa-li
                                                i.fas.fa-check
                                            |  MailChimp
                                        li
                                            span.fa-li
                                                i.fas.fa-check
                                            | SalesForce 

                                .col-4
                                    .subheading.mb-3 eCommerce
                                    ul.fa-ul.mb-0
                                        li
                                            span.fa-li
                                                i.fas.fa-check
                                            | WooCommerce
                                        li
                                            span.fa-li
                                                i.fas.fa-check
                                            | Shopify

                // UX
                section.resume-section.section
                    .resume-section-content
                        h2.mb-5 User Experience
                        p.lead
                            | I enjoy creating user experiences and user interfaces for digital media. I believe in human centered design, from ideation all the way to development, always with the end user in mind. I have conducted usability anf field studies, surveys and A/B testing for websites, SaaS and mobile apps.
                        .container-fluid.mt-5
                            .row.no-padding
                                .col-4
                                    .subheading.mb-3 UX Frameworks
                                    ul.fa-ul.mb-0
                                        li
                                            span.fa-li
                                                i.fas.fa-check
                                            | Design Thinking
                                        li
                                            span.fa-li
                                                i.fas.fa-check
                                            | Human-Centered Design
                                        li
                                            span.fa-li
                                                i.fas.fa-check
                                            | Double Diamond Method
                                .col-4
                                    .subheading.mb-3 UX Research
                                    ul.fa-ul.mb-0
                                        li
                                            span.fa-li
                                                i.fas.fa-check
                                            | Visual Website Optimizer
                                        li
                                            span.fa-li
                                                i.fas.fa-check
                                            | Google Analytics &amp; Data Studio
                                        li
                                            span.fa-li
                                                i.fas.fa-check
                                            | HotJar
                                        li
                                            span.fa-li
                                                i.fas.fa-check
                                            | UXCam                                            
                                .col-4
                                    .subheading.mb-3 UI Tools
                                    ul.fa-ul.mb-0
                                        li
                                            span.fa-li
                                                i.fas.fa-check
                                            | Adobe XD
                                        li
                                            span.fa-li
                                                i.fas.fa-check
                                            | Figma
                                        li
                                            span.fa-li
                                                i.fas.fa-check
                                            | InVision
                                        li
                                            span.fa-li
                                                i.fas.fa-check
                                            | OmniGraffle
                                        li
                                            span.fa-li
                                                i.fas.fa-check
                                            | FullStory                                        


                // Immersive
                section.resume-section.section
                    .resume-section-content
                        h2.mb-5 Immersive Design
                        p.lead
                            | As the immersive technology field is growing exponentially, I have been exploring diverse channels of media to create and develop 3D experiences in Virtual Reality and Augmented reality. From mobile VR using google cardboard, to high end headsets like the Oculus Quest 2. I have collaborated with architects, artists and designers to bring their vision to a fully immersive medium.

                        .container-fluid.mt-5
                            .row.no-padding
                                .col-4
                                    .subheading.mb-3 Tools & Frameworks
                                    ul.fa-ul.mb-0
                                        li
                                            span.fa-li
                                                i.fas.fa-check
                                            | Unity3D
                                        li
                                            span.fa-li
                                                i.fas.fa-check
                                            | Adobe Aero                                            
                                        li
                                            span.fa-li
                                                i.fas.fa-check
                                            | AframeJS
                                        li
                                            span.fa-li
                                                i.fas.fa-check
                                            | Blender
                                        li
                                            span.fa-li
                                                i.fas.fa-check
                                            | SparkAR

                // Education
                section.resume-section.section
                    .resume-section-content
                        h2.mb-5 Education

                        .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                            .flex-grow-1
                                h3.mb-0 SUNY Polytechnic Institute
                                p.lead 
                                    b Masters of Science 
                                    | | Information Design and Technology

                        .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                            .flex-grow-1
                                h3.mb-0 Fashion Institute of Technology
                                p.lead
                                    b Bachelor of Fine Arts
                                    | | Graphic Design 

                        .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                            .flex-grow-1
                                h3.mb-0 Fashion Institute of Technology
                                p.lead 
                                    b Associate of Applied Science 
                                    | | Communications Design

                        h3.mb-0 Certifications
                        ul.fa-ul.mt-3
                            li
                                span.fa-li
                                    i.fas.fa-award.text-warning
                                b Massachusetts Institute of Technology
                                | Backend Development                        
                            li
                                span.fa-li
                                    i.fas.fa-award.text-warning
                                b Amazon Web Services
                                | AWS Developer Associate
                            li
                                span.fa-li
                                    i.fas.fa-award.text-warning
                                b Massachusetts Institute of Technology
                                | Cloud & DevOps: Digital Transformation
                            li
                                span.fa-li
                                    i.fas.fa-award.text-warning
                                b McGill University
                                | Professional Certificate in Agile & SCRUM
                            li
                                span.fa-li
                                    i.fas.fa-award.text-warning
                                b New York University
                                | Advanced SQL Developer Certificate

                // Speaking                
                section.resume-section.section
                    .resume-section-content
                        h2.mb-5 Speaking Engagements

                        .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                            .flex-grow-1
                                h3.mb-0 2021
                                p.list
                                    b New Jersey Institute of Technology
                                    | | Speaker - <em>Git and Github</em>
                                p.list
                                    b WebXR Design Summit
                                    | | Panelist - <em>Virtual Reality and Design Education</em>

                        .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                            .flex-grow-1
                                h3.mb-0 2020
                                p.list
                                    b The Knowledge House
                                    | | Speaker - <em>Modern WordPress Development</em> 

                        .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                            .flex-grow-1
                                h3.mb-0 2019
                                p.list
                                    b JavaScript for Wordpress Conference
                                    | | Speaker - <em>Virtual Reality and the Open Web</em> 

                        .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                            .flex-grow-1
                                h3.mb-0 2018
                                p.list
                                    b WordCamp New York City
                                    | |  Session Speaker - <em>Virtual Reality and Wordpress</em>

                        .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                            .flex-grow-1
                                h3.mb-0 2017
                                p.list
                                    b Silicon Harlem Conference 2017
                                    | | Panelist - <em>Virtual Reality in Education</em>

        include scripts.js

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js')

        // FullPage JS
        script(src='js/fullpage.min.js')

        // FullPage JS
        script(src='js/script.js')

        // Core theme JS
        script(src='js/scripts.js')