// 
// Colors
// 

// Pre-state grayscale colors used in other variables
$black: #000;

$gray: #343a40;

$blue: #1e6091;

// Override Bootstrap color system

$orange: #52b69a;

// Override Bootstrap default state colors

$primary: $orange;

$secondary: $blue;

$general: $gray;

$headings: $black;